extends layout

block content
  div#main
    img(src="/images/header.svg")
    div#content
      div#wrap
        h1= title
        h2= message
        #tweet-container
          button#load Load More tweets
          ul#messages
